<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<br>

<div class="container" style="max-width: 1000px">
    <div class="py-1 text-center border-3">
        <h1 class="font-monospace-bold" th:text="#{title.board.main}">게시판 Main</h1>
    </div>

    <!-- 로그인, 회원 정보 관련  -->
    <div class="py-1 row">
        <!-- 로그인 시  -->
        <div th:if="${show}" class="text-end">
             <a href="/board"
                     th:href="@{/member/info}"
                     th:text="${member.loginId}">memberId</a>
            <span>님 반갑습니다.</span>
            <form  class="d-inline-block" th:action="@{/logout}" method="post" >
                <button class="w-100 btn btn-secondary btn-sm " type="submit">
                    로그아웃
                </button>
            </form>

        </div>
        <!-- 로그아웃 상태  -->
        <div th:unless="${show}" class="text-end">
            <button class="btn-sm btn-outline-primary btn-lg d-inline-block"
                    onclick="location.href='addMemberForm.html'"
                    th:onclick="|location.href='@{/member/add}'|" type="button">
                회원가입
            </button>
            <button class="btn-sm btn-primary btn-lg d-inline-block"
                    onclick="location.href='loginForm.html'"
                    th:onclick="|location.href='@{/login}'|" type="button">
                로그인
            </button>
        </div>
    </div>

    <hr class="my-2">
    <!-- 내가 쓴 글 -->
    <div class="py-1 row">
        <div class="col text-start">
            <form action="findPosts.html" th:action th:object="${form}" method="post">

                <input type="text" th:field="*{writerId}"
                       class="form-control-sm" style="width: 150px"
                       placeholder="작성자 입력">
                <button class="btn-sm btn-secondary py-1" type="submit"
                        th:text="#{button.findPosts}">검색</button>
                <span th:if="${#fields.hasGlobalErrors()}">
                    <span class="field-error" th:text="#{notFoundByWriterId}">글로벌 오류 메시지</span>
                </span>
            </form>
        </div>
        <!--글쓰기 버튼 -->
        <div class="col text-end">
            <button class="btn-sm btn-primary py-1 "
                    onclick="location.href='writeForm.html'"
                    th:onclick="|location.href='@{/board/write-form}'|"
                    th:text="#{button.writing}"
                    type="button">글쓰기</button>
        </div>
    </div>
    <hr class="my-3">

    <!-- 게시글 목록 table -->
    <div>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 100px; text-align: center" th:text="#{label.board.id}">번호</th>
                <th style="width: 500px; text-align: center" th:text="#{label.board.title}">제목</th>
                <th style="width: 150px; text-align: center" th:text="#{label.board.writer}">작성자</th>
                <th style="width: 150px; text-align: center" th:text="#{label.board.date}">등록일</th>
                <th style="width: 100px; text-align: center" th:text="#{label.board.views}">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td style="width: 100px; text-align: center" th:text="${post.id}">1234</td>
                <td style="width: 500px; text-align: center">
                    <a th:href="@{/board/{postId}(postId=${post.id})}">
                        <th:block th:text="${#strings.length(post.title) &gt; 20 ? #strings.substring(post.title, 0, 20) + '...' : post.title}">
                            title-example
                        </th:block>
                    </a>
                </td>
                <td style="width: 150px; text-align: center" th:text="${post.writerId}">hsryuuu</td>
                <td style="width: 150px; text-align: center" th:text="${post.date}">04-11</td>
                <td style="width: 100px; text-align: center" th:text="${post.views}">23</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr class="my-5">
</div><!-- /container -->

</body>
</html>