<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container" style="max-width: 1000px">
    <br>
    <div class="row">
        <div class="text-start">
            <button class="btn btn-rounded btn-outline-secondary py-1 "
                    onclick="location.href='board.html'"
                    th:onclick="|location.href='@{/board}'|"
                    th:text="#{page.board}"
                    type="button">HOME</button>
        </div>
    </div>
</div>
<div class="container" style="max-width: 1000px">
    <div class="py-1 text-center border-3">
        <h2 class="font-monospace-bold" th:text="#{title.find.posts}">게시글 검색</h2>
    </div>
    <div class="py-1 row">
        <div class="col text-start">
            <h5 th:text="|[ ${searchWord} ] #{label.board.find}|">검색 결과</h5>
        </div>
    </div>
    <hr class="my-2">

    <!-- 게시글 목록 table -->
    <div>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 100px; text-align: center" th:text="#{label.board.id}">번호</th>
                <th style="width: 500px; text-align: center" th:text="#{label.board.title}">제목</th>
                <th style="width: 150px; text-align: center" th:text="#{label.board.writer}">작성자</th>
                <th style="width: 150px; text-align: center" th:text="#{label.board.date}">등록일</th>
                <th style="width: 100px; text-align: center" th:text="#{label.board.views}">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each=" findPost : ${findPosts}">
                <td style="width: 100px; text-align: center" th:text="${findPost.id}">1234</td>
                <td style="width: 500px; text-align: center"><a href="../post/post.html" th:href="@{/board/post/{findPostId}(findPostId=${findPost.id})}" th:text="${findPost.title}">title-example</a></td>
                <td style="width: 150px; text-align: center" th:text="${findPost.writerId}">hsryuuu</td>
                <td style="width: 150px; text-align: center" th:text="${findPost.date}">04-11</td>
                <td style="width: 100px; text-align: center" th:text="${findPost.views}">23</td>
            </tr>
            </tbody>
        </table>
    </div>

</div><!-- /container -->

</body>
</html>