<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container-fluid py-4" style="background-color: #ccffcc ">
    <a href="board.html"  th:href="@{/board}" style="text-decoration: none">
        <h1 style="color: black" >&#x1F3E0; Board Service</h1>
    </a>
</div>
<br>
<div class="container" style="max-width: 600px">
    <div class="text-center">
        <h2 th:text="#{text.addMember}">회원 가입</h2>
    </div>

    <h4 class="mb-3" th:text="#{text.enterMemberInfo}">회원 정보 입력</h4>
    <form  th:action th:object="${form}" method="post">
        <div>
            <label for="name" th:text="#{label.member.name}">이름</label>
            <input type="text" id="name" th:field="*{name}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{name}" />
        </div>
        <div>
            <label for="nickname" th:text="#{label.member.nickname}">닉네임</label>
            <input type="text" id="nickname" th:field="*{nickname}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{nickname}" />
        </div>
        <div>
            <label for="email" th:text="#{label.member.email}">이메일</label>
            <input type="email" id="email" th:field="*{email}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{email}" />
        </div>
        <div>
            <label for="loginId" th:text="#{label.member.loginId}">로그인 ID</label>
            <input type="text" id="loginId" th:field="*{loginId}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{loginId}" />
        </div>
        <div>
            <label for="password" th:text="#{label.member.password}">비밀번호</label>
            <input type="password" id="password" th:field="*{password}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>
        <div>
            <label for="passwordCheck" th:text="#{label.member.passwordCheck}">비밀번호 확인</label>
            <input type="password" id="passwordCheck" th:field="*{passwordCheck}"
                   class="form-control"
                   th:errorclass="field-error">

            <div class="field-error" th:errors="*{passwordCheck}" />
        </div>


        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{text.addMember}">회원 가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/board}'|"
                        th:text="#{button.cancel}"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>
