<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container-fluid py-4" style="background-color: #ccffcc ">
    <a href="board.html"  th:href="@{/board}" style="text-decoration: none">
        <h1 style="color: black" >&#x1F3E0; Board Service</h1>
    </a>
</div>
<br>
<div class="container" style="max-width: 600px">
    <div class="py-3 text-center">
        <h1 th:text="#{title.editPassword}">비밀번호 변경</h1>
    </div>
    <div class="py-1 text-start">
        <h5 th:text="#{text.editPassword}">현재 비밀번호와 변경할 비밀번호를 입력해주세요.</h5>
    </div>

    <form action="memberPage.html" th:action th:object="${form}" method="post"
          onsubmit="return confirm('비밀번호를 변경 하시겠습니까?');">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text = "${err}">글로벌 오류 메시지</p>
        </div>
        <div>
            <label for="currentPassword" th:text="#{label.member.currentPassword}">현재 비밀번호</label>
            <input type="password" id="currentPassword" th:field="*{currentPassword}" class="form-control"
                   th:errorclass="field-error" >
            <div class="field-error" th:errors="*{currentPassword}"/>
        </div>
        <div>
            <label for="editPassword" th:text="#{label.member.editPassword}">변경할 비밀번호</label>
            <input type="password" id="editPassword" th:field="*{editPassword}" class="form-control"
                   th:errorclass="field-error" >
            <div class="field-error" th:errors="*{editPassword}"/>
        </div>
        <div>
            <label for="editPasswordCheck" th:text="#{label.member.editPasswordCheck}">변경할 비밀번호 확인</label>
            <input type="password" id="editPasswordCheck" th:field="*{editPasswordCheck}" class="form-control"
                   th:errorclass="field-error" >
            <div class="field-error" th:errors="*{editPasswordCheck}"/>
        </div>
        <hr class="my-3">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-outline-danger btn-lg" th:text="#{button.editPassword}" type="submit">
                    비밀번호 변경
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='board.html'"
                        th:onclick="|location.href='@{/member/info}'|"
                        th:text="#{button.back}"
                        type="button">돌아가기</button>
            </div>
        </div>

    </form>





</div>

</body>
</html>