<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .field-error{
            border-color: red;
            color: red;
        }
    </style>
</head>
<body>
<div class="container-fluid py-4" style="background-color: #ccffcc ">
    <a href="board.html"  th:href="@{/board}" style="text-decoration: none">
        <h1 style="color: black" >&#x1F3E0; Board Service</h1>
    </a>
</div>
<br>

<div class="container" style="max-width: 600px">
    <div class="py-3 text-center">
        <h1 class="font-monospace-bold" th:text="#{title.member.edit}">회원 정보 수정</h1>
    </div>

    <form action="member.html" th:action th:object="${member}" method="post">
    <div>
        <label for="loginId" th:text="#{label.member.loginId}">아이디</label>
        <input type="text" id="loginId" th:field="*{loginId}" class="form-control" readonly>
    </div>
    <div>
        <label for="password" th:text="#{label.member.password}">비밀번호</label>
        <input type="text" id="password" th:field="*{password}" class="form-control" th:errorclass="field-error">
        <div class="field-error" th:errors="*{password}">비밀번호 입력 오류</div>
    </div>
    <div>
        <label for="name" th:text="#{label.member.name}">이름</label>
        <input type="text" id="name" th:field="*{name}" class="form-control">
        <div class="field-error" th:errors="*{name}">이름 입력 오류</div>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="submit"
                    th:text="#{button.update}"
                    >정보 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='board.html'"
                    th:onclick="|location.href='@{/member/info}'|"
                    th:text="#{button.back}"
                    type="button">돌아가기</button>
        </div>
    </div>
    </form>
</div>
</body>
</html>