<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<br>

<div class="container" style="max-width: 800px">
    <!-- 제목 -->
    <div class="py-1 text-center border-3">
        <h3 class="font-monospace-bold" th:text="#{title.board.post}">게시글 상세</h3>
    </div>

    <hr class="my-2">
    <!-- 게시글 정보 한줄 -->
    <div>
        <span th:text="#{label.board.id}+' : '+${post.id}">번호 : postId</span>&nbsp;
        <span th:text="' | '+#{label.board.writer}+' : '+${post.writerId}"> | 작성자 : writerId</span>&nbsp;
        <span th:text="' | '+#{label.board.date}+' : '+${post.date}"> | 등록일 : 2023-04-11</span>&nbsp;
        <span th:text="' | '+#{label.board.views}+' : '+${post.views}"> | 조회수 : 0</span>
    </div>

    <hr class="my-2">

    <!-- 글 내용 -->
    <form action="../board/board.html" th:action th:object="${form}" method="post">
        <!-- 제목, 내용 -->
        <div class="form-group">
            <label for="title" th:text="#{label.board.title}">제목</label>
            <input type="text" class="form-control" id="title" th:field="*{title}">
        </div>

        <div class="form-group">
            <label for="content" th:text="#{label.board.content}">내용</label>
            <textarea class="form-control" id="content" rows="10" th:field="*{content}"></textarea>
        </div>
        <!-- /제목, 내용 -->

        <div class="border-top border-1 my-2"></div>

        <!-- 작성, 취소 버튼 -->
        <button type="submit" class="btn btn-primary" th:text="#{button.submit}">작성</button>
        <button type="button" class="btn btn-secondary"
                onclick="location.href='board.html'"
                th:onclick="|location.href='@{/board/post/{postId}(postId=${post.id})}'|"
                th:text="#{button.cancel}"
        >취소</button>

    </form>


</div><!-- /container -->

</body>
</html>