<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .field-error{
            border-color: red;
            color: red;
        }
    </style>
</head>
<body>
<div class="container-fluid py-4" style="background-color: #ccffcc ">
    <a href="board.html"  th:href="@{/board}" style="text-decoration: none">
        <h1 style="color: black" >&#x1F3E0; Board Service</h1>
    </a>
</div>
<br>

<div class="container" style="max-width: 600px">
    <div class="py-1 text-center border-3">
        <h2 class="font-monospace-bold" th:text="#{title.post.delete}">게시글 삭제</h2>
    </div>

    <div class="container-fluid rounded-3 py-2" style="background-color: lightcyan">
        <span th:text="#{label.board.id}+' : '+${post.id}">번호 : postId</span>&nbsp;
        <span th:text="' | '+#{label.board.writer}+' : '+${post.writerId}"> | 작성자 : writerId</span>&nbsp;
        <span th:text="' | '+#{label.board.date}+' : '+${post.createDate.plusDays(1) &lt; #temporals.createNow() ? #temporals.format(post.createDate, 'yyyy-MM-dd') : #temporals.format(post.createDate, 'HH:mm')}"> | 등록일 : 2023-04-11</span>&nbsp;
        <span th:text="' | '+#{label.board.views}+' : '+${post.views}"> | 조회수 : 0</span>
    </div>

    <br>
    <form action="board.html" th:action th:object="${member}" method="post"
          onsubmit="return confirm('삭제 하시겠습니까?');">

        <label for="password" class="my-2" >
            <b th:text="#{text.post.delete}">글을 삭제하려면 비밀번호를 입력해주세요.</b>
        </label>
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:text="#{wrongPassword}">비밀번호가 맞지 않습니다.</p>
        </div>
        <div class="field-error" th:errors="*{password}" />
        <input type="text" id="password" th:field="*{password}"
               class="form-control"
               th:errorclass="field-error";
               th:placeholder="#{text.enter.password}"
               placeholder="비밀번호 입력" >



        <div class="row py-1">
            <div class="col">
                <button type="submit" class="w-100 btn my-2 btn-outline-danger">삭제</button>
            </div>
            <div class="col">
                <button type="button" class="w-100 btn my-2 btn-secondary"
                        onclick="location.href='board.html'"
                        th:onclick="|location.href='@{/board/post/{postId}(postId=${post.id})}'|"
                        th:text="#{button.cancel}"
                >취소</button>
            </div>
        </div>

    </form>



</div><!-- /container -->
</body>
</html>