<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.board.repository.mybatis.PostMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post( writer_id, title, content, create_date, modified_date, views)
        values (#{writerId}, #{title}, #{content}, #{createDate}, #{modifiedDate}, #{views})
    </insert>

    <select id="findById" resultType="Post">
        SELECT id, writer_id, title, content, create_date, modified_date, views
        FROM post
        where id = #{id}
    </select>

    <select id="findAll" resultType="Post">
        select id, writer_id, title, content, create_date, modified_date, views
        from post
        <where>
            <if test="searchCode=='title' and searchWord !=null and searchWord !=''">
                LOWER(title) LIKE LOWER(concat('%',#{searchWord},'%'))
            </if>
            <if test="searchCode=='content' and searchWord !=null and searchWord !=''">
                LOWER(content) LIKE LOWER(concat('%',#{searchWord},'%'))
            </if>
            <if test="searchCode=='writerId' and searchWord !=null and searchWord !=''">
                LOWER(writer_id)=LOWER(#{searchWord})
            </if>
            <if test="searchCode=='titleAndContent' and searchWord !=null and searchWord !=''">
                LOWER(title) LIKE LOWER(concat('%',#{searchWord},'%')) or LOWER(content) LIKE LOWER(concat('%',#{searchWord},'%'))
            </if>
        </where>
    </select>

    <update id="updatePost">
        UPDATE post
        SET title=#{updateParam.title},
            content=#{updateParam.content},
            modified_date=#{updateParam.modifiedDate}
        WHERE id=#{id}
    </update>

    <update id="addView">
        UPDATE post
        SET views=views+1
        WHERE id=#{postId}
    </update>

    <delete id="deletePost">
        DELETE FROM post
               WHERE id=#{postId}
    </delete>

</mapper>